.main {
    background-color: rgb(226 240 255 / 50%);
    position: relative;
    padding: 30px 20px;
    border-bottom: 1px dashed var(--light_blue);
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: rgba(202, 202, 202, 0.368);
    padding: 5px 0 5px 0;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.shop {
    position: relative;
    background-color: var(--white);
    box-shadow: 0px 0px 1px 0px rgb(102 102 102);
    width: 20%;
    padding: 20px 200px 20px 20px;
    margin: 20px;
    border-radius: 18px;
    transition: all 300ms ease;
}

.shop:hover {
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
}

.color-line {
    position: absolute;
    border-radius: 25px 25px 0 0;
    background-color: var(--light_blue);
    margin: -20px -200px -20px -20px;
    width: 100%;
    height: 10px;
}

.flex-content {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
}

.flex-wrap :not(:first-child){
    margin-left: 35px;
}

.shop h4 {
    color: var(--black);
    font-size: var(--fourth_font_size);
    margin: 30px 0 10px 10px;
}

.img-item {
    width: 60%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
    margin-right: 50px;
}

.shop:hover .img-item {
    transform: scale(1.1);
}

.price {
    color: var(--black);
    font-size: 18px;
    margin: 10px 0 20px 10px;
}

.count {
    font-size: 18px;
    cursor: pointer;
}